# This is an example .env file. Copy this to .env and fill in the values to use it.
# EXPO_PUBLIC_SUPABASE_URL and EXPO_PUBLIC_SUPABASE_KEY are used in the app to connect to Supabase. 
#You can find these values in your Supabase project settings.
EXPO_PUBLIC_SUPABASE_URL=example.supabase.co
EXPO_PUBLIC_SUPABASE_KEY=example_key